*{
    padding: 0;
    margin: 0;
}

body{
    padding: 1% 6%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-image: url('../image/2.jpeg');
    min-height: 100%;
    padding-bottom: 0;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.header__logo img{
    width: 200px;
    cursor: pointer;
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav a {
    display: inline-block;
    padding: 20px;
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav a {
    display: inline-block;
    padding: 20px;
}

.main{
    margin-bottom: 25px;
}

.main h1{
    margin-bottom: 25px;
    font-size: 28px;
}

.main p{
    text-align: justify;
}

.footer{
    text-align: center;
}
.products_items{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.products_items li{
     width: calc(33.3% - 8% - 8%);
    padding: 4%;
    margin: 4%;
    background-color:white;
    box-shadow: 0 0 10px rgb(0 0 0 / 5);

}
.product__img img{
    height: 250px;
    max-width: 100%;
}
.product__title{
    margin: 10px 0;
    height: 60px;
}

.product__title a{
    text-decoration: none;
    color:darkgray;
    font-weight: bold;
}
.product__btn button{
    border: 0;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: red;
    margin-top: 10px;
    cursor: pointer;
}
.product__btn button:hover{
    opacity: 0.6;
    cursor: pointer;
}
.product__button:hover{
    border-radius: 50%;
    background-color: violet;
    transition: .5s linear;
}
.footer {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    margin-left: -8%;
    margin-right: -8%;
    
}

.footer p {

   margin-top: 30px;
    font-size: 12px;
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
.app{
    min-height: 800px;
    position: relative;
    padding-bottom: 50px;

}
.app.basket__container {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
}